<h1>Courses</h1>
<table>
	<thead>
		<th>Course</th>
		<th>Description</th>
		<th>Author</th>
		<th>Inscribirse | Desinscribirse</th>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
			<tr>  
				<td><%= course.name %></td>
				<td><%= course.description %></td>
				<td><%= course.owner.email %></td>
				<td>Link</td>
			</tr>	
		<% end %>
			
	</tbody>
</table>

<%= link_to "Create Course", new_course_path %>